<div class="container-fluid">
  <h1>Register</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password" type="password"
         class="form-control"/>
  <input [(ngModel)]="password2"
         placeholder="verify password" type="password"
         class="form-control"/>
  <button (click)="register(username, password, password2)"
          class="btn btn-lg btn-dark margin"><i class="fa fa-user-plus"></i>&nbsp;Register
  </button>
<br>
  <a routerLink="/login" class="btn btn-lg btn-dark margin"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a> &nbsp;
  <a class="btn btn-lg btn-dark margin" routerLink="/home"><i class="fas fa-home"></i>&nbsp;Home</a>

</div>
